body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f9fc;
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    box-sizing: border-box;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333333;
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #555555;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #007BFF;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #007BFF;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    padding: 15px;
    font-size: 20px;
    color: white;
    background-color: #28a745;
    border-radius: 8px;
    text-align: center;
    display: none; /* Inicialmente escondido */
}

.error {
    background-color: #dc3545 !important; /* Fundo vermelho para erros */
}

.highlight {
    font-size: 25px;
    font-weight: bold;
}
